.editprofilediv {
  height: 130vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid black;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  z-index: 100000;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 40%;
  bottom: 50%;
  background: white;
  padding: 5%;
  -webkit-box-shadow: inset 0px -1px 91px 9px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px -1px 91px 9px rgba(0, 0, 0, 1);
  box-shadow: inset 0px -1px 91px 9px rgba(0, 0, 0, 1);
}

#editprofiledivtitle {
  font-size: 6em;
}

.editprofilebutton {
  margin: 5%;
}

.imagespreviewdiv {
  margin: 3%;
}

.uploadprofilepic {
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.fileuploader {
  margin: 0 17% 1% 17%;
}

.savechangesbutton {
  height: 5em;
  width: 20em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  margin: 5% 40% 4% 35%;
  /* padding: 5%; */
  -webkit-box-shadow: inset -146px -172px 300px -121px rgba(34, 167, 240, 1);
  -moz-box-shadow: inset -146px -172px 300px -121px rgba(34, 167, 240, 1);
  box-shadow: inset -146px -172px 300px -121px rgba(34, 167, 240, 1);
}

.editinput {
  margin: auto;
  width: 30em;
}

.deleteprofile {
  height: 2.5em;
  width: 10em;
  margin-top: 6%;
  font-size: 0.9em;
  border: 2px #fa4100 solid;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  background-color: #fa3000;
  color: black;
}

.avatarpreview {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  /* transform: rotate(90deg); */
}
