.teampage {
  text-align: center;
  display: inline;
}

.rightpage {
  float: right;
  font-size: 2em;
  padding: 2% 8% 2% 2%;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
}

.roster {
  margin: 2%;
}

.leftpage {
  float: left;
  padding: 2% 2% 2% 8%;
}

.link {
  text-decoration: none;
}

#teamtitle {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.playerName {
  font-size: 0.5em;
  text-align: center;
}

.position {
  font-size: 0.2em;
  text-align: center;
}

.playerInfo {
  font-size: 0.1em;
  text-align: center;
}

.playerCard {
  position: relative;
  border: solid 1px black;
  padding: 3px 2px 12px 2px;
  margin: 2%;
}

.playercontent {
  text-align: center;
}
