.aboutpage {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.registrationlink {
  color: black;
  cursor: pointer;
}

#abouttitle {
  color: white;
  font-family: "Graduate", cursive;
  font-size: 10em;
  margin: 20% 34%;
  position: absolute;
}

.aboutpagepicturediv {
  width: 100%;
  margin-bottom: 5%;
}

.aboutpagepic {
  height: 80vh;
  width: 100%;
}

.aboutpageinformation {
  display: flex;
  flex-direction: row;
}

.aboutplayitforward {
  /* float: left; */
  background: white;
  border: 3px black solid;
  margin: 2% 2% 2% 2%;
  padding: 2%;
}

#averageincomefaq {
  /* float: right; */
  width: auto;
  height: auto;
  background: white;
  border: 3px black solid;
  margin: 2% 2% 2% 2%;
  padding: 2% 2% 0 2%;
}
