.aboutpage {
  text-align: center;
  margin: 0 5%;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25vh;
}

.registrationlink {
  color: black;
  cursor: pointer;
}

#abouttitle {
  color: black;
  font-family: "Graduate", cursive;
  font-size: 8em;
  margin: 5% auto 1% auto;
}
