.leaguepagediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-bottom: 10vh;
}

.leaguemapdiv {
  width: 100%;
}

#leaguetitle {
  color: black;
  font-size: 9em;
  margin: 0.75em auto 1em auto;
}

.leaguepagepic {
  width: 100%;
  height: 75vh;
  top: 0;
}

#backtoprofile {
  float: left;
  margin-top: 2em;
  margin-left: 2em;
}

#backtoteam {
  float: right;
  margin-top: 2em;
  margin-right: 2em;
}

#leaguerankings {
  float: left;
  display: flex;
  flex-direction: column-reverse;
}

.divisionrankingsdiv {
  display: flex;
  flex-direction: column-reverse;
}

.recordstandings {
  background: white;
  border: black 3px solid;
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0 5% 0 5%;
  padding: 2% 10% 2% 7%;
}

.donationstandings {
  background: white;
  border: black 3px solid;
  display: flex;
  flex-direction: column;
  float: right;
  margin: 0 5% 0 5%;
  padding: 2%;
}

.donationstandingstitle {
  padding: 0 5% 0 5%;
}
.recordstandingstitle {
  padding: 0 5% 0 5%;
  margin: 0 5% 0 5%;
}

.donationstandingsdiv {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
}

.leagueinfodiv {
  background: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1% 0 1% 0;
  margin: 10% 10% 0 10%;
  border: 3px solid black;
}

.reverseorder {
  display: flex;
  flex-direction: column;
}

.newsdiv {
  top: 50%;
  background: white;
  border: 3px solid black;
  padding: 2%;
  margin: 5% 4% 2% 4%;
}

.leaguenewsdiv {
  background: white;
  border: 3px solid black;
  margin: 2% 8% 2% 8%;
  padding: 2%;
}
