#title {
  width: 100%;
  height: 100vh;
  top: 0;
  background: url("https://c1.staticflickr.com/7/6063/6065174738_6b94ca6775_b.jpg");
  background-size: 100% 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
}

.socialmediaicons {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
  float: left;
  top: 50vh;
}
.contacticonimage {
  height: 4.5vh;
  width: 3vw;
  border-radius: 50%;
  /* background: white; */
  margin-bottom: 3.2em;
}
.contacticonimage:hover {
  cursor: pointer;
}

.belowthetitlescreen {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15em;
  padding-bottom: 15em;
}

h1 {
  margin: 18% auto 0 auto;
  vertical-align: middle;
  font-family: "Graduate", cursive;
  font-size: 9em;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  display: inline-block;
}

.homelink {
  text-decoration: none;
}

.homelink:hover {
  text-decoration: none;
}

.started {
  font-family: "Permanent Marker", cursive;
  font-size: 4em;
  margin-bottom: 10vh;
}

.loginhomebutton {
  font-family: "Permanent Marker", cursive;
  font-size: 3em;
  margin-right: 2%;
  padding: 3em 2.5em 3em 2.5em;
  display: inline;
}

.registerhomebutton {
  font-family: "Permanent Marker", cursive;
  font-size: 3em;
  margin-left: 2%;
  padding: 3em 2em 3em 2em;
  display: inline;
}
