#title {
  width: 100%;
  height: 100vh;
  top: 0;
  background: url("https://c1.staticflickr.com/7/6063/6065174738_6b94ca6775_b.jpg");
  background-size: 100% 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
}

.socialmediaicons {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  float: left;
  top: 50vh;
}
.contacticonimage {
  height: 4.5vh;
  width: 3vw;
  border-radius: 50%;
  margin-bottom: 2em;
}
.contacticonimage:hover {
  cursor: pointer;
}
.registrationinstruction {
  margin: 1% 10% 7.5% 10%;
  font-size: 1.5em;
}
.belowthetitlescreen {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15em;
  padding-bottom: 15em;
}

.websitetitle {
  margin: 18% auto 0 auto;
  vertical-align: middle;
  font-family: "Graduate", cursive;
  font-size: 9em;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  display: inline-block;
}

.homelink {
  text-decoration: none;
}

.homelink:hover {
  text-decoration: none;
}

.titlelearnmore {
  color: white;
  margin-top: 4%;
  height: 5vh;
  width: 15vw;
  font-size: 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background: #fa4100;
  border: none;
  -webkit-box-shadow: 22px 24px 50px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 24px 50px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 24px 50px 8px rgba(0, 0, 0, 0.75);
}
.titlelearnmore:hover {
  color: slategray;
  text-decoration: none;
}
