.loginpage {
  text-align: center;
  position: relative;
}

.link {
  color: black;
  cursor: pointer;
}

#titlelogin {
  color: white;
  margin-top: 15%;
  height: 12vh;
  width: 30vw;
  border-bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  background: #fa4100;
  border: none;
}

#titlelogin:hover {
  color: slategray;
}

#loginlink {
  margin: 0;
}
