.donate {
  display: flex;
  flex-direction: column;
  position: relative;
}

#instructions {
  font-size: 2em;
  padding: 5%;
  margin: 5% 5% 0 5%;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5%;
}

.inputfield {
  background: white;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-content: center;
  padding: 3%;
  margin: 5% 5%;
  border: 3px solid black;
  border-radius: 0.3em;
}
.suggestionsfield {
  background: white;
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  align-content: center;
  padding: 3%;
  margin: 5% 5%;
  border: 3px solid black;
  border-radius: 0.3em;
}
#donationsuggestions {
  background: white;
  display: flex;
  font-size: 1.7em;
  flex-direction: column;
  align-content: center;
  padding: 3%;
  margin: 5% 15%;
  border: 3px solid black;
  border-radius: 0.3em;
}
.physicaldonationaddress {
  background: white;
  display: flex;
  font-size: 2em;
  flex-direction: column;
  align-content: center;
  padding: 3%;
  margin: 5% 5%;
  border: 3px solid black;
  border-radius: 0.3em;
}

#inputfield {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 4%;
  justify-content: center;
  font-size: 0.5em;
}

#suggestions {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.recommendations {
  display: flex;
  flex-direction: column;
  margin: 0 3% 8% 3%;
}
.recommendationsbysport {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3%;
  font-size: 3em;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

#sporttypedonate {
  font-size: 1em;
  margin-top: 5%;
}

#monetary {
  margin: 20% 37%;
  color: white;
  position: absolute;
}

.checkout {
  margin: 5%;
}

.monetarypagepic {
  height: 60vh;
  width: 100%;
}

.thanksfordonating {
  font-size: 8em;
  color: black;
  margin: 5% auto 10% auto;
}

.physicaldonationtitle {
  color: white;
  margin: 20% 30%;
  position: absolute;
}

#physicaldonationaddress {
  font-size: 3em;
}
