ul,
li {
  list-style: none;
  color: #fa4100;
  margin-top: 3vh;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.navheadercontainer {
  height: 16vh;
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 99;
}

.scrolled {
  height: 16vh;
  width: 100%;
  transition: 0.8s ease-in;
  background-color: slategray;
  opacity: 0.7;
  position: fixed;
  z-index: 99;
}

.container {
  height: 16vh;
  width: 100%;
}

@media only screen and (max-width: 940px) {
  ul,
  li {
    list-style: none;
    color: #fa4100;
    display: inline-block;
    margin-top: 2.4vh;
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media only screen and (max-width: 775px) {
  ul,
  li {
    list-style: none;
    color: #fa4100;
    display: inline-block;
    margin-top: 2.4vh;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media only screen and (max-width: 605px) {
  ul,
  li {
    list-style: none;
    color: #fa4100;
    display: inline-block;
    margin-top: 2.4vh;
    padding-left: 1em;
    padding-right: 1em;
  }
}
