#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    to left,
    #8a8989,
    #9c9b9a,
    #aeadac,
    #c0bfbe,
    #d3d2d1
  );
  color: #fa4100;
}

.footerlink {
  text-decoration: none;
  padding: 1% 0 1% 0;
}

.footerlink:hover {
  text-decoration: none;
}

.columns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.pif {
  /* padding: 4em; */
}

.account {
  /* padding: 4em; */
}

.contact {
  /* padding: 4em; */
}

.footerlogo {
  height: 10em;
  width: 10em;
  margin: 4% 2% 1% 1%;
}

#rightlogo {
  margin-left: 10em;
  /* padding-left: 5%; */
}
#leftlogo {
  margin-right: 10em;
  /* padding-right: 5%; */
}
