.registrationpage {
  text-align: center;
  margin: 0 5%;
  background: white;
  position: relative;
  height: 100%;
  padding: 25vh;
}

.registrationlink {
  color: black;
  cursor: pointer;
}

#registrationtitle {
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 4em;
  margin: 5%;
}

#titlelogin:hover {
  color: slategray;
}

#loginlink {
  margin: 0;
}
